body {
  transform: scale(0.60);
  transform-origin: top left;
  width: calc(100% / 0.60); 
  min-height: calc(100vh / 0.60);
  overflow-x: hidden; 
    margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

.homepage {
  margin-bottom: 0;
  padding-bottom: 0;
}

